[user]
	name = nblandos
	email = nblandos@gmail.com
[core]
	excludesfile = /home/nblandos/.gitignore_global
	autocrlf = input
	whitespace = cr-at-eol
  preloadindex = true
	pager = delta
[alias]
	uncommit = reset --soft "HEAD^"
	unstage = reset
	ac = !git add -A && git commit
	st = status
	ci = commit
	co = checkout
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[status]
  branch = true
  showStash = true
  showUntracked = all
[push]
	autoSetupRemote = true
	default = current
[pull]
  default = current
[init]
	defaultBranch = main
[color]
	ui = auto
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true
	syntax-theme = base16-256
[merge]
	conflictstyle = diff3
