[user]
	name = nblandos
	email = nblandos@gmail.com
[core]
	excludesfile = /home/nblandos/.gitignore_global
	autocrlf = input
	whitespace = cr-at-eol
	pager = delta
[alias]
	uncommit = reset --soft "HEAD^"
	unstage = reset
	ac = !git add -A && git commit
	st = status
	ci = commit
	co = checkout
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
	default = upstream
[init]
	defaultBranch = main
[color]
	ui = auto
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true
	syntax-theme = base16-256
[merge]
	conflictstyle = diff3
